
<div class="d-flex flex-nowrap">
  <h1 class="visually-hidden">Pubsub emulador</h1>

  <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Pubsub emulador</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#topics"></use></svg>
            Topics
        </a>
      </li>
    </ul>

    <div class="b-example-divider b-example-vr"></div>
    <router-outlet></router-outlet>
  </div>
